  body {
    background-color: #fdfaf7;
    height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  }

  .container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }

  h1 {
    color: #254F22;
    margin-bottom: 20px;
  }

  input {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    outline: none;
    transition: 0.3s;
  }

  input:focus {
    border-color: #3498db;
    background-color: #f0f8ff;
  }

  button {
    width: 100%;
    padding: 12px;
    background-color: #F5824A;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    cursor:pointer;
    transition: transform 0.2s, background-color 0.2s;
  }

  button:hover {
    background-color: #A03A13;
    transform: translateY(-2px);
  }

  .color-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
    gap: 10px;
  }

  input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    width:100px;
    height:100px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border-radius: 50%;
    border: 10px solid #eeca47;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all 0.3s ease;
  }